<!DOCTYPE html>
<html>

<body>
  <h3>Derzeit angebotene Gebete</h3>
  <form action="/editPrayers">
    <button type="submit" name="1" value="{{not .Fajr}}">Sabah | Fajr: {{if .Fajr}} Deaktivieren {{else}} Aktivieren {{end}}</button> <br>
    <button type="submit" name="2" value="{{not .Dhuhr}}">Ögle | Dhuhr: {{if .Dhuhr}} Deaktivieren {{else}} Aktivieren {{end}}</button> <br>
    <button type="submit" name="3" value="{{not .Asr}}">Ikindi | Asr: {{if .Asr}} Deaktivieren {{else}} Aktivieren {{end}}</button> <br>
    <button type="submit" name="4" value="{{not .Maghrib}}">Aksam | Maghrib: {{if .Maghrib}} Deaktivieren {{else}} Aktivieren {{end}}</button> <br>
    <button type="submit" name="5" value="{{not .Ishaa}}">Yatsi | Ishaa: {{if .Ishaa}} Deaktivieren {{else}} Aktivieren {{end}}</button> <br>
  </form>
</body>

</html>
