<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<script type="text/javascript">
  $(document).ready(function() {
    $('.submit').attr('disabled', true);
    $('#message').keyup(function() {
      if ($(this).val().length != 0)
        $('.submit').attr('disabled', false);
      else
        $('.submit').attr('disabled', true);
    })
  });
</script>
<script>
   window.addEventListener("pageshow", function(event) {
       var historyTraversal = event.persisted ||
           (typeof window.performance != "undefined" &&
               window.performance.navigation.type === 2);
       if (historyTraversal) {
           // Handle page restore.
           window.location.reload();
       }
   });
</script>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
</style>

<form method="post" action="/addMosque">
  Name: <input type="text" name="name" required="required">
  <br>
  PLZ: <input type="number" name="plz" required="required">
  <br>
  Straße: <input type="text" name="street" required="required">
  <br>
  Stadt: <input type="text" name="city" required="required">
  <br>
  Kapazität Männer: <input type="number" name="cap-m" required="required">
  <br>
  Kapazität Frauen: <input type="number" name="cap-w" required="required">
  <br>
  <h3>Sunulan Namazlar | Angebotene Gebete</h3>
  <input type="checkbox" name="prayer" value="fajr">
  <label for="fajr">Sabah | Fajr</label>
  <br>
  <input type="checkbox" name="prayer" value="dhuhr">
  <label for="dhuhr">Ögle | Dhuhr</label>
  <br>
  <input type="checkbox" name="prayer" value="asr">
  <label for="asr">Ikindi | Asr</label>
  <br>
  <input type="checkbox" name="prayer" value="maghrib">
  <label for="maghrib">Aksam | Maghrib</label>
  <br>
  <input type="checkbox" name="prayer" value="ishaa">
  <label for="ishaa">Yatsi | Ishaa</label>
  <br>
  <input type="checkbox" name="prayer" value="cuma">
  <label for="ishaa">Cuma | Freitagsgebet</label>
  <br>
  <input type="checkbox" name="prayer" value="bayram">
  <label for="ishaa">Bayram | Eid</label>
  <br>

  <br> <br>
  <input id="submit" type="submit" value="Eintragen">
</form><br><br><br><br><br>

</html>
