<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

<body>
  <h3>Istediginiz Islemi secin | Wählen Sie Ihre gewünschte Aktion</h3>
  <form>
    <button type="submit" name="action" value="addmosque">Camii ekle | Füge Moschee hinzu</button> <br><br>
    <button type="submit" name="action" value="deletemosque">Camii sil | Lösche Moschee</button> <br><br>
    <button type="submit" name="action" value="showmosque">Camii göster / sakla | Moschee zeigen/verstecken</button> <br><br>
    <button type="submit" name="action" value="registeradmin">Yönetici ekle | Füge Administrator hinzu</button> <br><br>
    <button type="submit" name="action" value="registermosqueadmin">Cammii Yönetici ekle | Füge Moscheeverwalter hinzu</button> <br><br>
  </form>
</body>


</html>
