<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
  <script type="text/javascript">
    $(document).ready(function() {

    });
  </script>
  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
  <script>
    $(document).ready(function() {
      $('.submit').attr('disabled', true);
      $('#message').keyup(function() {
        if ($(this).val().length != 0)
          $('.submit').attr('disabled', false);
        else
          $('.submit').attr('disabled', true);
      })

      $("#btnClear").on("click", function() {
        var selectize = $select[0].selectize;
        selectize.clear();
      });

      var $select2 = $("#delete-mosque").selectize({
        sortField: 'text',
        onItemAdd: function(value) {
          var message = "Silmeyi onayliyormusunuz? Secilen Camii " + value + "\nBestätigen Sie die Löschung? Ausgewählte Moschee " + value;
          var ok = window.confirm(message);
          if (ok) {
            window.location.href = '/deleteMosque?mosque=' + value;
          } else {
            window.location.reload();
          }
        }
      });
      var $select = $("#show-mosque").selectize({
        sortField: 'text',
        onItemAdd: function(value) {
            window.location.href = '/show-hide?mosque=' + value;
          }
        });
      });
  </script>
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>

{{- if .AddMosque -}}

<form method="post" action="/addMosque">
  Name: <input type="text" name="name" required="required">
  <br>
  PLZ: <input type="number" name="plz" required="required">
  <br>
  Straße: <input type="text" name="street" required="required">
  <br>
  Stadt: <input type="text" name="city" required="required">
  <br>
  Kapazität Männer: <input type="number" name="cap-m" required="required">
  <br>
  Kapazität Frauen: <input type="number" name="cap-w" required="required">
  <br>
  <h3>Sunulan Namazlar | Angebotene Gebete</h3>
  <input type="checkbox" name="prayer" value="fajr">
  <label for="fajr">Sabah | Fajr</label>
  <br>
  <input type="checkbox" name="prayer" value="dhuhr">
  <label for="dhuhr">Ögle | Dhuhr</label>
  <br>
  <input type="checkbox" name="prayer" value="asr">
  <label for="asr">Ikindi | Asr</label>
  <br>
  <input type="checkbox" name="prayer" value="maghrib">
  <label for="maghrib">Aksam | Maghrib</label>
  <br>
  <input type="checkbox" name="prayer" value="ishaa">
  <label for="ishaa">Yatsi | Ishaa</label>
  <br>

  <br> <br>
  <input id="submit" type="submit" value="Eintragen">
</form><br><br><br><br><br>

{{- else if .DeleteMosque -}}

<select id="delete-mosque" placeholder="Camiinizi secin / Wählen Sie Ihre Moschee aus">
  <option value="">Camiinizi secin / Wählen Sie Ihre Moschee aus</option>
  {{ range .Mosques}}
  <option value="{{.Name}}">{{.Name}}, Ort: {{.City}}</option>
  {{ end }}
</select>
<input type="button" class="button" id="btnClear" value="Secenegi Sil | Auswahl löschen"></input>

{{- else if .ShowMosque -}}

<select id="show-mosque" placeholder="Camiinizi secin / Wählen Sie Ihre Moschee aus">
  <option value="">Camiinizi secin / Wählen Sie Ihre Moschee aus</option>
  {{ range .Mosques}}
  <option value="{{.Name}}">{{.Name}}, Ort: {{.City}}</option>
  {{ end }}
</select>
<input type="button" class="button" id="btnClear" value="Secenegi Sil | Auswahl löschen"></input>

{{- else if .RegisterAdmin -}}

<form method="post" action="/registerAdmin">
  Name: <input type="text" name="name" required="required">
  <br>
  Email: <input type="email" name="email" required="required">
  <br>
  Password: <input type="text" name="password" required="required">
  <br> <br> <br>
  <input id="submit" type="submit" value="Eintragen">
</form>

{{- else if .RegisterMosqueAdmin -}}

<form method="post" action="/registerMosqueAdmin">
  Email: <input type="email" name="email" required="required">
  <br>
  Password: <input type="text" name="password" required="required">
  <br>
  <select id="register-mosqueadmin" name="register-mosqueadmin"  placeholder="Camiinizi secin / Wählen Sie Ihre Moschee aus">
    <option value="">Camiinizi secin / Wählen Sie Ihre Moschee aus</option>
    {{ range .Mosques}}
    <option value="{{.Name}}">{{.Name}}, Ort: {{.City}}</option>
    {{ end }}
  </select>
  <input type="button" class="button" id="btnClear" value="Secenegi Sil | Auswahl löschen"></input>
  <br> <br> <br>
  <input id="submit" type="submit" value="Eintragen">
</form>

{{- end -}}


</html>
