{{define "base"}}

<!doctype html>
<html lang='en'>

<head>

  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{template "title" .}}
    - MosqueOnline</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2);
      if (historyTraversal) {
        window.location.reload();
      }
    });
  </script>
  {{template "scripts" .}}
</head>

<body>
  <header>
    <!-- Irgendein bild oder so -->
  </header>
  <div class="mb-3">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand">MosqueOnline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Startseite<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="/register">Registrieren<span class="sr-only">(current)</span></a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <main style="padding-bottom:60px;">
    <div class="container">
      {{template "main" .}}
    </div>
  </main>
  <div class="fixed-bottom">
    <div class="container">
      {{template "footer" .}}
    </div>
  </div>
</body>

</html>

{{end}}
