<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"/>
  </head>
  <script type="text/javascript" src="selectize.js"></script>
  <link rel="stylesheet" type="text/css" href="selectize.css"/>
  <script>
    $(document).ready(function () {
      var $select = $("#select-mosque").selectize({
        sortField: 'text',
        onItemAdd: function (value) {
          window.location.href = '/choose?mosque=' + value;
        }
      });

      $("#btnClear").on("click", function () {
       var selectize = $select[0].selectize;
       selectize.clear();
   });
    });
  </script>
</head>
<body>
  <select id="select-mosque" placeholder="Camiinizi secin / Wählen Sie Ihre Moschee aus">
    <option value="">Camiinizi secin / Wählen Sie Ihre Moschee aus</option>
    {{ range .Mosques}}
      <option value="{{.Name}}">{{.Name}}, Ort: {{.City}}</option>
    {{ end }}
  </select>
  <input type="button" class="button" id="btnClear" value="Secenegi Sil | Auswahl löschen"></input>


</body>
</html>
