<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

  <script type="text/javascript" src="selectize.js"></script>
  <link rel="stylesheet" type="text/css" href="selectize.css" />
  <script>
    $(document).ready(function() {
      var $select = $("#prayer").selectize({
        onItemAdd: function(value) {
          window.location.href = "/choosePrayer?prayer=" + value;
        }
      });
      $("#btnClear").on("click", function() {
        var selectize = $select[0].selectize;
        selectize.clear();
      });

    });
  </script>
</head>

<label for="prayer">Vakit secin / Wähle Gebetszeit:</label>
<select name="prayer" id="prayer">
  <option value=>Vakit secin / Wähle Gebetszeit:</option>
  <option value=1>Sabah / Fajr, Platz: {{(index .Prayer 0).Capacity}}</option>
  <option value=2>Ögle / Dhuhr, Platz: {{(index .Prayer 1).Capacity}}</option>
  <option value=3>Ikindi / Asr, Platz: {{(index .Prayer 2).Capacity}}</option>
  <option value=4>Aksam / Maghrib, Platz: {{(index .Prayer 3).Capacity}}</option>
  <option value=5>Yatsi / Ishaa, Platz: {{(index .Prayer 4).Capacity}}</option>
  <!-- .Cuma Make Placeholder work with bool and string generator-->
</select>
<input type="button" class="button" id="btnClear" value="Secenegi Sil | Auswahl löschen"></input>
