<head>
  <link rel="stylesheet" href="styles.css">
  <script>
     window.addEventListener("pageshow", function(event) {
         var historyTraversal = event.persisted ||
             (typeof window.performance != "undefined" &&
                 window.performance.navigation.type === 2);
         if (historyTraversal) {
             // Handle page restore.
             window.location.reload();
         }
     });
  </script>
</head>
<body>

  <form action="/submit">
    <h3>Secdiginiz Camii | Ausgewählte Moschee</h3>
    <p>{{.Name}}</p>

      <h4>Secdiginiz Namaz | Ausgewähltes Gebet</h4>
      <p>{{.PrayerName}}</p><br>
    <label for="yes_no_radio">Seceneginizi kayit etmek istiyormusunuz? | <br> Möchten Sie Ihre Auswahl bestätigen?</label>
    <p>
      <input type="radio" name="confirm" value="yes">Yes</input>
    </p>
    <p>
      <input type="radio" name="confirm" value="no">No</input> <br> <br> <br>
      <input type="submit" class="button" value="Sec | Auswählen"></input>

    </p>

  </form>
</body>
