{{define "footer"}}
<!-- Footer -->
<footer class="py-3 bg-dark text-white-50">
  <div class="container text-center">Developed by <a href='https://abdullahyildirim.tech'>Abdullah Yildirim</a>. Powered by Go & MongoDB.<br>
    Kontakt: <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#099;&#097;&#109;&#105;&#105;&#046;&#111;&#110;&#108;&#105;&#110;&#101;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#099;&#097;&#109;&#105;&#105;&#046;&#111;&#110;&#108;&#105;&#110;&#101;</a>
  </div>
</footer>
{{end}}
