{{define "footer"}}
<!-- Footer -->
<footer class="py-3 bg-dark text-white-50">
  <div class="container text-center">Developed by <a href='https://abdullahyildirim.tech'>Abdullah Yildirim</a>. Powered by Go & MongoDB.
  </div>
</footer>
{{end}}
