<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="person">
  <p>{{.FirstName}} {{.LastName}}</p>
  <p>{{.Email}}</p>
  <p>{{.Phone}}</p><br>
</div>

<button onclick="window.location.href = '/chooseMosque';">Namazlara Kayit ol</button>
<h2>Kayitli Namazlar | Angemeldete Gebete</h2>

{{$phone := .Phone}}
{{range .RegisteredPrayers}}
<div class="prayer">
  <p>{{.MosqueName}}</p>
  <p>{{.MosqueAddress}}</p>
  <p>{{.Date}}</p>
  <p>Secilen Namaz | Ausgewähltes Gebet: {{.PrayerName}}</p>
  <form method="post" id="deleteForm" onsubmit="return confirm('Silmeyi onayliyormusunuz? | Bestätigen Sie die Abmeldung?');" action="/signOut?name={{.MosqueName}}&date={{.DateIndex}}&prayer={{.PrayerIndex}}&phone={{$phone}}">
    <input type="submit" class="button" value="Sil | Abmelden"></input>
    <br>
  </form>
</div>

{{end}}
