<head>
  <script>
    function showUser() {
      var x = document.getElementById("log-form");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    function showAdmin() {
      var x = document.getElementById("user-login");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
</head>
<style>
  #firstname,
  #lastname,
  #email,
  #phone,
  #password  {
    padding: 12px 20px;
    margin: 20px 20;
    border: none;
    border-bottom: 2px solid red;
  }

  #email:focus,
  #firstname:focus,
  #lastname:focus,
  #phone:focus,
  #password {
    border-bottom: 2px solid #555;
  }
</style>

<button onclick="showUser()">Üyeler icin Giris</button>
<div class="log-form" id="log-form" style="display: none;">
  <h1>Login</h1>
  <form method="post" action="/login">
    <label for="email">E-Mail Adresi | E-Mail Adresse</label> <br>
    <input type="email" id="email" name="email"> <br><br><br>

    <label for="phone">Telefon Numarasi | Telefon Nummer</label> <br>
    <input type="text" id="phone" name="phone"> <br><br><br>
    <input type="hidden" name="type" value="user">
    <button type="submit">Giris Yap | Anmelden</button>
  </form>
</div>
<br>
<button onclick="showAdmin()">Yöneticiler icin Giris</button>
<div class="user-login" id="user-login" style="display: none;">
  <h1>Yöneticiler icin Giris</h1>
  <form method="post" action="/login">
    <label for="email">E-Mail Adresi | E-Mail Adresse</label> <br>
    <input type="email" id="email" name="email"> <br><br><br>

    <label for="password">Sifre | Passwort</label> <br>
    <input type="password" id="password" name="password"> <br><br><br>

    <input type="hidden" name="type" value="admin">
    <button type="submit">Giris Yap | Anmelden</button>
  </form>
</div>
