<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
</head>


{{- if .EditPrayers -}}
  {{- template "editprayers.gohtml" . -}}
{{- else if .EditCapacity -}}
  {{- template "editcapacity.gohtml" . -}}
{{- else if .GetRegistrations -}}
  {{- template "getregistrations.gohtml" . -}}
{{- else if .GetDate -}}
  {{- template "getdate.gohtml" . -}}
{{- end -}}
