<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
</head>

<body>
{{- if .EditPrayers -}}

{{- else if .EditCapacity -}}

{{- else if .GetRegistrations -}}
<form action="/getRegistrations">
    <input type="submit" value="Alle Anmeldungen" />
</form>
{{- else if .GetDate -}}
<form method="post" action="/getRegistrationsDate">
  Date:
  <input type="date" id="date" name="date" min='2020-01-01' max='2020-08-01'></input>
  <input type="submit" value="submit">
</form>
{{- end -}}
</body>
