<head>
  <link rel="stylesheet" href="styles.css">
  <script>
    window.addEventListener("pageshow", function(event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
</head>

<body>

  <h3>Secdiginiz Camii | Ausgewählte Moschee</h3>
  <p>{{.Name}}</p>

  <h2>Suanki Durum | Derzeitiger Status</h2>

  {{ if .Active }}

  <p>Kayitlara acik | Offen für Anmeldungen</p><br>
  <h3>Onaydan sonra Durum | Status nach Bestätigung:</h3>
  <p>Kayitlara kapali | Anmeldungen geschlossen</p>

  {{else}}

    <p>Kayitlara kapali | Anmeldungen geschlossen</p><br>
    <h3>Onaydan sonra Durum | Status nach Bestätigung:</h3>
    <p>Kayitlara acik | Offen für Anmeldungen</p><br>

    {{ end }}

    <form action="/show-hide">
      <label for="confirm">Durumu degistirmek istiyormusunuz? | <br> Möchten Sie den Status ändern?</label>
      <p> <input type="radio" name="confirm" value="yes">Yes</input> </p>
      <p> <input type="radio" name="confirm" value="no">No</input> </p> <br> <br> <br>
      <input type="submit" class="button" value="Sec | Auswählen"></input>
    </form>
</body>
